.selected {
    background-color: lightgrey;
}

.collapsible {
    background-color: #58737f;
    color: whitesmoke;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #485e68;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: lightgrey;
    transition: max-height 0.2s ease-out;
}

.collapsible:after {
    content: '\002B'; /* Unicode character for "plus" sign (+) */
    font-size: 2rem;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212"; /* Unicode character for "minus" sign (-) */
}

.block-link {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 10px; /* adjust this value based on your preference */
}



